//$main-color: #1c1c1c

@font-face
  font-family: 'din-alternate-bold'
  src: url('../fonts/din-alternate-bold.eot')
  src: url('../fonts/din-alternate-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/din-alternate-bold.woff2') format('woff2'), url('../fonts/din-alternate-bold.woff') format('woff'), url('../fonts/din-alternate-bold.ttf') format('truetype'), url('../fonts/din-alternate-bold.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DINPro-Bold'
  src: url('../fonts/DINPro-Bold.eot')
  src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DINPro-Regular'
  src: url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf') format('truetype'), url('../fonts/DINPro-Regular.otf') format('svg')
  font-weight: normal
  font-style: normal









body
  font: 400 100%/1.375 'Roboto', sans-serif
  font-size: 1em
  //font-family: 'Roboto', sans-serif
  padding: 0
  margin: 0
  line-height: 1em
  //font-size: 1.25em
  color: #000
  //font-weight: 700
  a
    font: 400 100%/1.375 'Roboto', sans-serif
    //font-family: 'Roboto', sans-serif
    line-height: 1em
    //font-size: 14px
    color: #000
    //font-weight: 700


.img-holder
  overflow: hidden
  height: 100%
img
   max-width: 100%
.wrap
  //width: 940px
  margin: auto

.bx-controls-direction
  display: none

#cache
  display: none




.content
  padding: 0 45px

#preloader
  position: fixed
  left: 0
  top: 0
  z-index: 99999
  width: 100%
  height: 100%
  overflow: visible
  background: #fff url('../img/content/logo.png') no-repeat center center
  animation-fill-mode: both



.home
  .container
    min-height: 100%
    height: auto
    position: absolute
    top: 100%
    left: 0
    width: 100%
    z-index: 10
    perspective: 1000
    background: #fff



#header
  background: #fff
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 11

  .content
    position: relative
  .lang
    position: absolute
    top: 15px
    right: 105px
    >div
      display: inline-block
      vertical-align: middle
      margin-right: 20px
      &.active
        text-decoration: underline
      a
        //font-size: 16px
        line-height: 1em
        //font-family: Arial, sans-serif
        //font-weight: 400
  .logo
      position: absolute
      left: 50%
      width: 39px
      height: 27px
      margin-left: -20px
      top: 11px
      a
        display: block

  #menu
    padding: 17px 110px
    li
      display: inline-block
      vertical-align: middle
      margin-right: 60px
      a
        text-transform: uppercase
        //font-size: 16px
        line-height: 1em
        font-weight: 600

      &:nth-child(5),
      &:nth-child(4)
        float: right

      &:first-child
        display: none
      &.active
        a
          text-decoration: underline


  .mobile-navbar
    background: #fff
    display: none
    left: 0
    top: 0
    z-index: 2
    transition: all .6s ease
    width: 100%
    position: absolute
    &.active
      //z-index: 101
      background: #000
      width: 100%


    .navbar-toggle
      background-color: transparent
      display: inline-block
      position: relative
      padding: 14px 15px
      z-index: 2
      cursor: pointer
      &.active
        .icon-bar
          background: #fff

      .icon-bar
        background: #000
        display: block
        width: 22px
        height: 2px

        + .icon-bar
          margin-top: 4px

    .mobile-navbar-holder
      display: none
      padding: 20px 0 100px
      #menu-mobile
        padding: 0
        margin-bottom: 40px
        li
          display: block
          margin: auto
          padding: 10px 0
          margin-bottom: 20px
          float: none!important
          text-align: center
          &:first-child
            display: none
          a
            color: #fff
            text-transform: uppercase
      .lang
        position: relative
        top: inherit
        right: inherit
      .logo
        width: 43px
        height: 27px
        position: relative
        left: inherit
        margin: auto
        top: inherit
        margin-bottom: 70px


#slider
  padding: 50px 45px
  //padding-bottom: 50px
  //padding-top: 50px
  left: 0
  height: 100%
  top: 0
  position: fixed
  width: 100%
  overflow: hidden
  z-index: 0
  box-sizing: border-box

  .bx-wrapper
    //pointer-events: none
    .bx-viewport
      height: 100% !important
  .slider
    height: 100%
    overflow: hidden
    width: 100%

    li
      height: 100%
      width: 100%
    a
      display: block
      height: 100%
      width: 100%



#projects

  background: #f9fafb
  padding: 45px 0 25px
  overflow: hidden
  .content
    margin: 0 -10px

  .project-nav
    margin: 0 10px 40px


    li
      display: inline-block
      vertical-align: middle
      cursor: pointer
      margin-right: 50px
      text-transform: uppercase
      //font-size: 14px
      font-weight: 700
      line-height: 1em
      text-decoration: underline
      color: #afafb0
      transition: all 0.35s
      &.active, &:hover
        color: #000
        transition: all 0.35s

      &:first-child
        margin-left: 40px
        display: none
      &:nth-child(2)
        margin-left: 40px

  .item-project
    width: 33.3%
    box-sizing: border-box
    padding: 0 10px
    float: left
    transition: all 0.35s


    .text-holder

      color: #000
      line-height: 1.5em
      .category
        //font-size: 16px
        margin-bottom: 5px
        //font-family: 'din-alternate-bold', Arial, sans-serif
        font-weight: 700
        padding-top: 15px

      .title
        //font-size: 20px
        padding-bottom: 20px


    a
      display: block
      &:hover
        text-decoration: none





#about
  .content
    padding: 50px 90px
    p
      //font-size: 16px
      color: #6c6c6c
      line-height: 1.3em
      text-align: justify
      text-align-last: center


    .img-holder
      margin-bottom: 30px
      text-align: center
      width: 100%
      //height: 530px








#contacts
  background: #f7f7f7
  .content
    padding: 50px 45px 30px
    p
      //font-size: 15px
      line-height: 1.3em
      //font-family: Arial, sans-serif
      font-weight: 600
    a
      display: block
      //font-size: 15px
      line-height: 1.3em
      //font-family: Arial, sans-serif
      font-weight: 600

  #map
    height: 690px
    width: 100%
    margin-bottom: 30px
  .info-left
    float: left
  .info-right
    float: right

  .social
    margin-top: 5px

    li
      display: inline-block
      vertical-align: middle
      margin-right: 25px
      a
        background: url("../img/icons/social.png") no-repeat top left
        display: block

      &.facebook
        a
          width: 14px
          height: 23px

      &.twitter
        a
          width: 26px
          height: 23px
          background-position: -40px 0
      &.google
          a
            background: none
            .fa-2x
              font-size: 1.5em
      &.instagram
        a
          width: 21px
          height: 23px
          background-position: top right

      &:last-child
        margin-right: 0






#blog
  .content
    padding: 50px 45px 80px
  .item-article
    margin-bottom: 50px
    text-align: center
    &:last-child
      margin-bottom: 0

    .img-holder
      float: left
      width: 30%
      //width: 440px

      a
        display: none
        &:first-child
          display: block


    .text-holder
      display: inline-block
      vertical-align: top
      width: 40%
      //width: 565px
      line-height: 1.3em
      color: #6c6c6c

      h3
        //font-size: 20px
        font-size: 1.5em
        line-height: 1.3em
        margin-bottom: 40px
        text-align: justify
        color: #000

      h2
        line-height: 1em
        margin-bottom: 40px
        font-size: 1.2em
      h3
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.15em
      h4
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.1em
      h5
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.05em
      h6
          line-height: 1em
          margin-bottom: 40px
          font-size: 1em

      table
        tr
          background: rgba(0, 0, 0, 0.7)
          td,th
            padding: 20px
            color: #fff
            line-height: 1em
            font-weight: 400

          &:nth-child(2n)
            background: rgba(0, 0, 0, 0.5)

      a
        color: #6c6c6c
        line-height: 1.3em
        text-align: justify
        font-weight: 700
        text-decoration: underline
      p
        //font-size: 16px
        line-height: 1.3em
        color: #6c6c6c
        text-align: justify
      ul, ol
        margin: 0
        margin-bottom: 30px
        padding-left: 30px
        text-align: left
      dl
        text-align: left
        margin-bottom: 30px
        dt
          font-weight: 700
        dd
          font-weight: 400
          margin-left: 30px
      ul
          li
            list-style-type: disc
      ol
          li
            list-style-type: decimal

    .info-holder
      float: right
      width: 15%
      //width: 120px
      text-align: right
      .data
        //font-size: 20px
        color: #010101
        line-height: 1em
        margin-bottom: 30px
        font-size: 1.5em
        font-weight: 700

    .social
      width: 120px
      float: right
      .title-social
        //font-size: 20px
        font-size: 1.5em
        color: #010101
        line-height: 1em
        margin-bottom: 30px

      a
        height: 26px
        width: 120px
        overflow: hidden
        position: relative
        transition: all 0.35s
        margin-bottom: 10px
        &:hover
          text-decoration: none
          color: #000
          transition: all 0.35s
          span.ya-share2__badge
            transition: all 0.35s
            top: 0
          span.ya-share2__title
            top: -26px
            transition: all 0.35s
            opacity: 0
        span.ya-share2__badge
          position: absolute
          top: -26px
          right: 0
          transition: all 0.35s

        span.ya-share2__title
          position: absolute
          top: 0
          right: 0
          display: block!important
          //font-size: 20px
          font-size: 1.5em
          line-height: 1.3em
          font-weight: 400
          //font-family: 'DINPro-Regular', Arial, sans-serif
          margin-left: 0!important
          transition: all 0.35s
          opacity: 1
          &:hover
            color: #000!important
            transition: all 0.35s


#footer
  .mobile_contacts
    display: none
    #map2
      height: 270px
      margin-bottom: 30px
      position: relative
      #footer-map
        height: 270px
      #map-wrapper
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .info-contacts
      margin-bottom: 30px


      p,a
        display: block
        font-weight: 700
        text-align: center
        line-height: 1.5em
        &:nth-child(2)
          margin-bottom: 25px
  .content

    position: relative
    .copyright
      line-height: 50px
      float: left
      //font-size: 16px
      //font-family:  Arial, sans-serif
      font-weight: 700
    .logo
      position: absolute
      left: 50%
      width: 39px
      height: 27px 
      margin-left: -20px
      top: 11px


      a
        display: block

    .social
      float: right
      margin-top: 13px

      li
        display: inline-block
        vertical-align: middle
        margin-right: 25px
        a
          background: url("../img/icons/social.png") no-repeat top left
          display: block

        &.facebook
          a
            width: 14px
            height: 23px

        &.twitter
          a
            width: 26px
            height: 23px
            background-position: -40px 0
        &.google
          a
            background: none
            .fa-2x
              font-size: 1.5em
        &.instagram
          a
            width: 21px
            height: 23px
            background-position: top right

        &:last-child
          margin-right: 0



#blueimp-gallery
  .indicator
    text-align: center
    width: 100%
    height: 10px
    position: absolute
    bottom: 20px
    left: 0
    right: 0
    li

      border-radius: 10px
      display: inline-block
      vertical-align: middle
      width: 10px
      height: 10px
      margin: 0 5px
      background: #fff!important
      &.active
        background: #000!important

.project
  //transition: opacity .3s ease-out, transform .2s, visibility .4s
  .content

    .modal-holder
      padding: 100px 45px 0
      position: relative
      .close-modal
        width: 31px
        height: 30px
        background: url("../img/icons/close.png") no-repeat center
        position: absolute
        top: 60px
        right: 10px
        cursor: pointer
    .img-holder
      text-align: center
      width: 100%
      margin-bottom: 40px

    .text-holder
      padding: 50px
      .text-left
        float: left
        width: 40%
        .info-project
          .team
            margin-top: 30px
            margin-bottom: 50px
            .title
              margin-bottom: 30px
          span,p
            display: block
            font-size: 1.25em
            line-height: 1.3em
            &.title

              font-weight: 700



        .social
          span
            display: inline-block!important
          .title-social
              //font-size: 20px
              font-size: 1.25em
              color: #010101
              line-height: 1em
              margin-bottom: 30px
              font-weight: 700

          .ya-share2__item
            display: block!important
          a
            height: 26px
            width: 120px
            overflow: hidden
            position: relative
            transition: all 0.35s
            margin-bottom: 10px
            text-align: left
            &:hover
              text-decoration: none
              color: #000
              transition: all 0.35s
              span.ya-share2__badge
                transition: all 0.35s
                top: 0
              span.ya-share2__title
                top: -26px
                transition: all 0.35s
                opacity: 0
            span.ya-share2__badge
              position: absolute
              top: -26px
              left: 0
              transition: all 0.35s

            span.ya-share2__title
              position: absolute
              top: 0
              left: 0
              display: block!important
              //font-size: 20px
              font-size: 1.5em
              line-height: 1.3em
              font-weight: 400
              //font-family: 'DINPro-Regular', Arial, sans-serif
              margin-left: 0!important
              transition: all 0.35s
              opacity: 1
              &:hover
                color: #000!important
                transition: all 0.35s
      .text-right
        float: left
        width: 60%
        h1,h2,h3,h4,h5,h6
          color: #000
        h1
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.25em
        h2
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.2em
        h3
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.15em
        h4
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.1em
        h5
          line-height: 1em
          margin-bottom: 40px
          font-size: 1.05em
        h6
          line-height: 1em
          margin-bottom: 40px
          font-size: 1em


        .description
          color: #6c6c6c
          line-height: 1.3em
          text-align: justify
          font-weight: 700
          table
            tr
              background: rgba(0, 0, 0, 0.7)
              td,th
                padding: 20px
                color: #fff
                line-height: 1em
                font-weight: 400

              &:nth-child(2n)
                background: rgba(0, 0, 0, 0.5)


          a
            color: #6c6c6c
            line-height: 1.3em
            text-align: justify
            font-weight: 700
            text-decoration: underline
          ul, ol
            margin: 0
            margin-bottom: 30px
            padding-left: 30px

          ul

            li
              list-style-type: disc
          ol
            li
              list-style-type: decimal

          dl
            margin-bottom: 30px
            dt
              font-weight: 700
            dd
              font-weight: 400
              margin-left: 30px
          p
            //font-size: 1.25em
            //color: #6c6c6c
            //line-height: 1.3em
            //text-align: justify
            //font-weight: 700






@media screen and (max-width: 1200px)
  #header
    #menu li
      margin-right: 30px
      &:nth-child(4)
        margin-right: 0
    .lang
      right: 45px


@media screen and (max-width: 959px)
  body
    font-size: 0.8em
  #slider
    padding: 0
  #projects
    padding: 30px 20px
    .project-nav
      margin: 0 auto 20px
      ul
        display: table
        width: 100%
      li
        margin: auto
        display: table-cell
        text-align: center
        font-size: 1em
        &:first-child
          margin: auto
          text-align: left
        &:last-child
          //text-align: right
    .content
      margin: auto
      padding: 0
      .item-project
        width: 100%
        padding: 0



  #header
    &.active
      .logo
        display: none
    .logo
      z-index: 3
      top: 7px
    #menu
      display: none
    .lang
      display: none
    .mobile-navbar
      display: block
      .logo
        display: block !important
      #menu-mobile, .lang
        display: block

      .lang
        position: relative
        text-align: center
        >div
          &:last-child
            margin-right: 0
          a
            color: #fff
            text-transform: uppercase



  #about
    background: #ebebeb
    .content
      padding: 20px 20px 70px
      .img-holder
        margin-bottom: 20px

  #blog
    .content
      padding: 0
      .item-article
        padding: 20px
        margin-bottom: 0
        .img-holder
          float: none
          width: 100%
          margin-bottom: 15px
        .text-holder
          display: block
          width: 100%
          margin-bottom: 20px
          h3
            margin-bottom: 25px
            font-size: 1em
        .info-holder
          float: none
          width: 100%
          .data
            font-size: 1em
            text-align: left
          .social
            .title-social
              font-size: 1em
              font-weight: 700
              margin-bottom: 30px
            li
                display: block!important
            a
                margin-bottom: 0
                span.ya-share2__title
                  font-size: 1em

          >div
            display: inline-block
            width: 49%
        &:nth-child(2n)
          background: #e1e1e1


  #contacts
    display: none
  #footer
    .mobile_contacts
      display: block
    .content
      padding: 20px
      .copyright
        display: block
        float: none
        text-align: center
      .logo
        display: none

      .social
        display: block
        float: none
        text-align: center


  .project
    .content
      padding: 0
      .text-holder
        padding: 0 0 40px
        .text-left,.text-right
          float: none
          width: 100%
        .text-left
          margin-bottom: 30px
          .info-project
            span,p
              font-size: 1em
            .team
              margin-bottom: 30px
              margin-top: 30px
              span,p
                font-size: 1em
              .title
                margin-bottom: 0
          .social
            //display: none
            .title-social
              margin-bottom: 10px
              font-size: 1em
            a
              margin-bottom: 0
              span.ya-share2__title
                font-size: 1em
        .text-right
          h1
            text-align: center
            margin-bottom: 30px
          .description
            font-weight: 400

      .container
        position: relative
      .img-holder
        margin-bottom: 15px
        
      .modal-holder
        padding: 0 20px
        .close-modal
          width: 20px
          height: 20px
          background-size: contain
          top: 10px
          z-index: 15

        .modal-content
          padding-top: 42px