footer
    .content.cf
        .copyright OM architects 2016
        .logo
            a(href="#slider")
                img(src="img/content/logo.png")
        .social
            li.facebook
                a(href="#", target="_blank")
            li.twitter
                a(href="#", target="_blank")
            li.instagram
                a(href="#", target="_blank")






#cache
