footer
    .content.cf
        .copyright OM architects 2016
        .logo
            a(href="#top")
                img(src="img/content/logo.png")
        .social
            li.facebook
                a(href="#", target="_blank")
            li.google
                a(href="#", target="_blank")
                    i(class="fa fa-google-plus fa-2x")
            //li.twitter
                a(href="#", target="_blank")
            li.instagram
                a(href="#", target="_blank")






#cache
