#footer
    .content.cf
        .mobile_contacts
                #map2
                    #footer-map
                    #map-wrapper
                .info-contacts.cf
                        p Киев, ул. Кожемяцкая 12ж
                        a(href="mailto:om.architecture.com@gmail.com") om.architecture.com@gmail.com
                        a(href="tel:+380443388388") +380443388388
                        a(href="tel:+380935904455") +380935904455
                        a(href="tel:+380681292797") +380681292797
        .copyright OM architects 2016
        .logo
            a(href="#top")
                img(src="img/content/logo.png")
        .social
            li.facebook
                a(href="#", target="_blank")
            li.google
                a(href="#", target="_blank")
                    i(class="fa fa-google-plus fa-2x")
            //li.twitter
                a(href="#", target="_blank")
            li.instagram
                a(href="#", target="_blank")






#cache
