
header#header
    .content

                .logo
                    a(href="#top")
                        img(src="img/content/logo.png")







                #menu
                    ul.nav.nav-tabs
                        li.active
                                a(href="#top") Главная
                        li
                                a(href="#projects") Проекты
                        li
                                a(href="#about") О нас

                        li
                                a(href="#blog") Пресса
                        li
                            a(href="#contacts") Контакты
                .lang
                    .ru.active
                        a(href="#") ru
                    .en
                        a(href="#") en




