head
    meta(name='Description', content='Архитектурное-бюро под руководством Андрея Медведя и Игоря Фоменко “OM- architecture” занимается проектированием жилых и общественных зданий,работает в сфере дизайна жилого и общественного интерьера, также активно занимаются разработкой и созданием предметов интерьера.')
    meta(name='keywords', content='OM Architecture, дизайн')
    title OM Architecture


    meta(property="og:image" content="http://782258.host2016.web.hosting-test.net/img/content/blog1.jpg")
    meta(property="og:title" content="Заголовок 1")
    meta(property="og:description" content="Опис")
    meta(property="og:url" content="http://782258.host2016.web.hosting-test.net/")



    meta(name='robots', content='index,follow')
    link(rel='shortcut icon', href='img/icons/om-icon.png', type='image/png')
    link(href="css/main1.css" rel="stylesheet" type="text/css")
    link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
    link(href="css/template.css" rel="stylesheet" type="text/css")
    link(href="css/jquery.bxslider.css" rel="stylesheet" type="text/css")
    link(href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="css/blueimp-gallery.css" rel="stylesheet" type="text/css")

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="js/functions1.js")
    script(src="js/blueimp-gallery.min.js")
    script(src="bower_components/jquery_lazyload/jquery.lazyload.js")
    script(src="js/jquery.bxslider.js")
    script(src="js/masonry.pkgd.min.js")
    script(src="js/scrollspy.js")
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3')
    script(type='text/javascript', src="js/map.js")
    script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
    script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    link(href='https://fonts.googleapis.com/css?family=Roboto:400,600,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')


