doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            include ./header.jade

            div.container
                .wrap





            include ./footer.jade



