doctype html
html(lang="ru")
    include ./head.jade


    body
        .page_wrapper
            //include ./header.jade

            div.container
                .wrap
                    ul.slider
                        li
                            a(href="#project_1")
                                img(src="img/content/1.jpg")

                        li
                            a(href="#project_1")
                                img(src="img/content/2.jpg")
                        li
                            a(href="#project_1")
                                img(src="img/content/1.jpg")

                    #projects.cf
                        .project-nav
                            ul
                                li(data-filter="architecture") архитектура
                                li(data-filter="design") дизайн
                                li(data-filter="objects") предметы

                        .project-list
                            .item-project(data-cat="architecture")
                                a(href="#project_1")
                                    img(src="img/content/1.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="design")
                                a(href="#project_2")
                                    img(src="img/content/2.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="objects")
                                a(href="#project_1")
                                    img(src="img/content/ava.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="architecture")
                                a(href="#project_1")
                                    img(src="img/content/2.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="design")
                                a(href="#project_1")
                                    img(src="img/content/ava.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="objects")
                                a(href="#project_1")
                                    img(src="img/content/1.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="architecture")
                                a(href="#project_1")
                                    img(src="img/content/2.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                            .item-project(data-cat="design")
                                a(href="#project_1")
                                    img(src="img/content/1.jpg")
                                    .category Дизайн, Архитеркура
                                    .title Проект жилого загородного дома Киев
                    #about
                        p.
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                            Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                            Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и,
                            в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                            Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                            В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                            Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                            Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и,
                            в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    #contacts
                        #map



                    #blog
                        #article1.item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")

                            .text-holder
                                h3 заголовок
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                            .info-holder
                                .data 10.03.2016
                                .social
                                    .title-social Поделится
                                    div(class="ya-share2", data-services="facebook,gplus,twitter", data-url="http://google.com.ua/#article1")
                        #article2.item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")

                            .text-holder
                                h3 заголовок
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                            .info-holder
                                .data 10.03.2016
                                .social
                                    .title-social Поделится
                                    div(class="ya-share2", data-services="facebook,gplus,twitter", data-url="http://google.com.ua/#article2")


                        #article3.item-article
                            .img-holder
                                img(src="img/content/blog1.jpg")

                            .text-holder
                                h3 заголовок
                                p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.

                            .info-holder
                                .data 10.03.2016
                                .social
                                    .title-social Поделится
                                    div(class="ya-share2", data-services="facebook,gplus,twitter", data-url="http://google.com.ua/#article3")








            //include ./footer.jade



