doctype html
html(lang="ru")
    head
        meta(name='Description', content='Современная резиденция площадью 450 м2 построена в киевской области на берегу реки.')
        meta(name='keywords', content='OM Architecture, дизайн')
        title OM Architecture - Copper house
        meta(property="og:image" content="http://782258.host2016.web.hosting-test.net/img/content/project.jpg")
        meta(property="og:title" content="Copper house")
        meta(property="og:description" content="Современная резиденция площадью 450 м2 построена в киевской области на берегу реки.")
        meta(property="og:url" content="http://782258.host2016.web.hosting-test.net/project.html")


        meta(name='robots', content='index,follow')
        link(rel='shortcut icon', href='img/icons/om-icon.png', type='image/png')
        link(href="css/main1.css" rel="stylesheet" type="text/css")
        link(href="bower_components/normalize-css/normalize.css" rel="stylesheet" type="text/css")
        link(href="css/template.css" rel="stylesheet" type="text/css")
        link(href="css/jquery.bxslider.css" rel="stylesheet" type="text/css")
        link(href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
        link(href="css/blueimp-gallery.css" rel="stylesheet" type="text/css")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="js/functions1.js")
        script(src="bower_components/jquery_lazyload/jquery.lazyload.js")
        script(src="js/blueimp-gallery.min.js")
        script(src="js/jquery.bxslider.js")
        script(src="js/masonry.pkgd.min.js")
        script(src="js/scrollspy.js")
        link(href='bower_components/fullpage/dist/jquery.fullpage.css', rel='stylesheet', type='text/css')
        script(src='bower_components/fullpage/vendors/jquery.slimscroll.min.js')
        script(src='bower_components/fullpage/dist/jquery.fullpage.js')

        script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?v=3')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='format-detection', content='telephone=no')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        script(type='text/javascript', src='//yastatic.net/es5-shims/0.0.2/es5-shims.min.js', charset='utf-8')
        script(type='text/javascript', src='//yastatic.net/share2/share.js', charset='utf-8')
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,600,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')


    body.project(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper

            #preloader

            header#header
                .content
                    .logo
                        a(href="index.html")
                            img(src="img/icons/logo.svg")

                    #menu
                        ul.nav.nav-tabs
                            li.active
                                a(href="index.html") Главная
                            li
                                a(href="index.html#projects") Проекты
                            li
                                a(href="index.html#about") О нас

                            li
                                a(href="index.html#blog") Пресса
                            li
                                a(href="index.html#contacts") Контакты
                    .lang
                        .ru.active
                            a(href="#") ru
                        .en
                            a(href="#") en

                    .mobile-navbar
                        .navbar-toggle(type="button")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        .mobile-navbar-holder
                            .logo
                                a(href="index.html")
                                    img(src="img/icons/logo_w.svg")
                            #menu-mobile
                                ul.nav.nav-tabs
                                    li.active
                                        a(href="index.html") Главная
                                    li
                                        a(href="index.html#projects") Проекты
                                    li
                                        a(href="index.html#about") О нас
                                    li
                                        a(href="index.html#blog") Пресса
                                    li
                                        a(href="index.html#footer") Контакты
                            .lang
                                .ru.active
                                    a(href="#") ru
                                .en
                                    a(href="#") en






            .container
                .content
                    .modal-holder#fullpage


                        .close-modal

                        .modal-content

                            .img-div.section
                                .img-holder
                                    img.lazy.fake-img(data-original="img/content/project_img0.jpg")
                                    div.img(style="background-image: url(img/content/project_img0.jpg)")
                            .text-holder.cf.section
                                .text-left
                                    .info-project
                                        span.title Год: 2015
                                        span.title Киевская область
                                        .team
                                            span.title Команда
                                            p Игорь Фоменко
                                            p Андрей Медведь
                                    .social
                                        .title-social Поделится
                                        //div(class="ya-share2", data-services="facebook,gplus", data-url="http://782258.host2016.web.hosting-test.net/project.html", data-counter="", data-image="img/content/project_img0.jpg", data-title="Copper house", data-description="Современная резиденция площадью 450 м2 построена в киевской области на берегу реки.")
                                        a( href="#1" onClick="window.open('https://www.facebook.com/sharer/sharer.php', 'newWin', 'Toolbar=0, Location=0, Directories=0, Status=0, Menubar=0, Scrollbars=0, Resizable=0, Copyhistory=1, Width=800, Height=600')" ) Facebook
                                        a( href="#2" onClick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fexample.com', 'newWin', 'Toolbar=0, Location=0, Directories=0, Status=0, Menubar=0, Scrollbars=0, Resizable=0, Copyhistory=1, Width=800, Height=600')" ) Google+


                                .text-right
                                    h1 Copper house
                                    .description

                                        p.
                                            Современная резиденция площадью 450 м2 построена в киевской области на берегу реки.
                                            Перед архитекторами из OM-architecture стояла задача создать современный уютный загородный дом с элементами "Альпийского шале".
                                            Для внутреннего оформления выбрали натуральные материалы: медь, камень, дерево.
                                            Сочетание современных форм и классических элементов декора сформировали уникальный характер шале.
                                        p.
                                            Планировка здания простая и функциональная.
                                            Каминный зал, кухню, столовую, холл, гардеробную - объединяет куб покрытый натуральной медью.
                                            Это центральный элемент 1-го этажа. Внутри него поместились: шкаф, встроенная кухня, несущие конструкции здания, и декоративная ниша
                                            с растениями. Весь второй этаж заняли спальни с ванными комнатами. Из каждой спальни есть выход на персональную террасу.
                                            В цокольном этаже спряталась комната отдых с бильярдным столом, а также все технические помещения.
                                            Основным акцентом бильярдной получился узор на бетонном потолке, на который пошло 150 м кабеля.
                                            Особое внимание на объекте уделялось техническим деталям и мелочам интерьера (вентиляционные решетки,
                                            душевые трапы, освещение, двери и тд..)


                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img1.jpg")
                                    div.img(style="background-image: url(img/content/project_img1.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img2.jpg")
                                    div.img(style="background-image: url(img/content/project_img2.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img3.jpg")
                                    div.img(style="background-image: url(img/content/project_img3.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img4.jpg")
                                    div.img(style="background-image: url(img/content/project_img4.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img5.jpg")
                                    div.img(style="background-image: url(img/content/project_img5.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img6.jpg")
                                    div.img(style="background-image: url(img/content/project_img6.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img7.jpg")
                                    div.img(style="background-image: url(img/content/project_img7.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img8.jpg")
                                    div.img(style="background-image: url(img/content/project_img8.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img9.jpg")
                                    div.img(style="background-image: url(img/content/project_img9.jpg)")
                            .img-div.section
                                .img-holder
                                    img.lazy(data-original="img/content/project_img10.jpg")
                                    div.img(style="background-image: url(img/content/project_img10.jpg)")



            include ./footer.jade



    #blueimp-gallery.blueimp-gallery
                    .slides
                    a.prev
                        i(class="fa fa-angle-left fa-4x")
                    a.next
                        i(class="fa fa-angle-right fa-4x")
                    a.close
                        i(class="fa fa-times")
                    ol.indicator
