doctype html
html(lang="ru")
    include ./head.jade


    body.project(data-spy="scroll", data-target="#menu", data-offset="105")
        .page_wrapper

            #preloader
            #top
            header#header
                .content
                    .logo
                        a(href="#top")
                            img(src="img/content/logo.png")

                    #menu
                        ul.nav.nav-tabs
                            li.active
                                a(href="#top") Главная
                            li
                                a(href="#projects") Проекты
                            li
                                a(href="#about") О нас

                            li
                                a(href="#blog") Пресса
                            li
                                a(href="#contacts") Контакты
                    .lang
                        .ru.active
                            a(href="#") ru
                        .en
                            a(href="#") en








            .container
                .content
                    .img-holder
                        img(src="img/content/project_img0.jpg")
                    .text-holder
                        .text-left
                            span.title Год: 2015
                            span.title Киевская область
                            span.title Команда
                            span Игорь Фоменко
                            span Андрей Медведь
                        .text-right
                            h1 Copper house
                            p.
                                Современная резиденция площадью 450 м2 построена в киевской области на берегу реки. Перед архитекторами из OM-architecture стояла задача создать современный уютный загородный дом с элементами "Альпийского шале". Для внутреннего оформления выбрали натуральные материалы: медь, камень, дерево. Сочетание современных форм и классических элементов декора сформировали уникальный характер шале.
                                Планировка здания простая и функциональная. Каминный зал, кухню, столовую, холл, гардеробную - объединяет куб покрытый натуральной медью. Это центральный элемент 1-го этажа. Внутри него поместились: шкаф, встроенная кухня, несущие конструкции здания, и декоративная ниша с растениями. Весь второй этаж заняли спальни с ванными комнатами. Из каждой спальни есть выход на персональную террасу. В цокольном этаже спряталась комната отдых с бильярдным столом, а также все технические помещения. Основным акцентом бильярдной получился узор на бетонном потолке, на который пошло 150 м кабеля. Особое внимание на объекте уделялось техническим деталям и мелочам интерьера (вентиляционные решетки, душевые трапы, освещение, двери и тд..)

                    .img-holder
                        img(src="img/content/project_img1.jpg")
                    .img-holder
                        img(src="img/content/project_img2.jpg")
                    .img-holder
                        img(src="img/content/project_img3.jpg")
                    .img-holder
                        img(src="img/content/project_img4.jpg")
                    .img-holder
                        img(src="img/content/project_img5.jpg")
                    .img-holder
                        img(src="img/content/project_img6.jpg")
                    .img-holder
                        img(src="img/content/project_img7.jpg")
                    .img-holder
                        img(src="img/content/project_img8.jpg")
                    .img-holder
                        img(src="img/content/project_img9.jpg")
                    .img-holder
                        img(src="img/content/project_img10.jpg")
            include ./footer.jade



    #blueimp-gallery.blueimp-gallery
                    .slides
                    a.prev
                        i(class="fa fa-angle-left fa-4x")
                    a.next
                        i(class="fa fa-angle-right fa-4x")
                    a.close
                        i(class="fa fa-times")
                    ol.indicator
